body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(0, 0, 0, 0.92)
}
header{
    width: 100%;
    background: rgba(13, 91, 103, 1);
    position: fixed;
    height: 65px;
    top: 0;
    left: 0;
    box-shadow:1px 1px 50px black;
}
span{
    display: inline-block;
    margin-top: 13px;
    margin-left: 30px;
    font-size: 30px;
    text-shadow:0 0 2px black;;

}
.nav-list{
    display: inline;
    margin-right: 20px;
}
nav{
    font-size: 20px;
    margin-top:2px;
    float: right;
}
.about{
    margin-top: 100px;
}
.myImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto ;

}
.about{
    font-size:18px;
}
.skills{
    font-size: 24px;
    display: flex;
    justify-content: space-evenly;
}
.skill-content{
    margin-top: 80px;
}
li{
    list-style: none;
}
main{
    color:thistle;
}
li{
    margin:15px;
}
ul{
    padding: 5px;
    border: 2px solid whitesmoke;
    width: 250px;
    box-shadow: 1px 1px 50px red;
    border-radius: 10px;
}
