header {
  background-color: rgba(0, 0, 0, 0.9);
}
.about {
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.93);
  color: white;
}
.jumbotron {
  background: rgba(0, 0, 0, 0.93) !important;
  color: white;
  margin-bottom: 0 !important;
}
.myImg {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.about {
  font-size: 1.3rem;
}
.skills {
  padding-top: 40px;
  font-size: 24px;
  display: flex;
  justify-content: space-evenly;
}
.skill-content {
  background-color: rgb(255, 255, 255);
}

li {
  list-style: none;
}

li {
  margin: 15px;
}
.skills ul {
  padding: 5px;
  width: 250px;
  border-radius: 10px;
}
.project {
  background-color: #1f90b261;
  color: black;
  margin-top: 0;
}
.project h1 {
  margin-top: 0;
  margin-bottom: 3rem;
}
.exp {
  background-color: #1f90b261;
}

.contact {
  background-color: #000000e8;
  color: white;
}
.contact li {
  display: inline-block;
}
.contact ul {
  text-align: center;
}
.contact span {
  display: block;
  text-align: center;
}
.fa-js-square {
  color: #fdd835;
}
.fa-bootstrap {
  color: purple;
}
.fa-react {
  color: #61dbfb;
}

.fa-node {
  color: #3e863c;
}
.fa-html5 {
  color: orangered;
}
.fa-css3-alt {
  color: #264de4;
}
.fa-mdb {
  color: green;
}
.fa-git-alt {
  color: rgb(255, 72, 0);
}
.fa-python {
  background-color: linear-gradient(#17a2b8, yellow);
}

.fa-fire {
  color: #f5820a;
}
.fa-envelope {
  color: brown;
}
.fa-medium {
  color: white;
}
.fa-quora {
  color: red;
}
.card-img-top {
  max-width: 100%;
  height: 13rem;
}
.font-size {
  font-size: 1.4rem;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(216,100,33, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(216, 100, 33);
}
.project-descp {
  background: linear-gradient(rgba(29, 37, 113), rgba(195, 55, 100));
}

.project-tool-descp {
  font-size: x-large;
  z-index: 1;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.863);
}
.project-title {
  font-size: xx-large;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.863);
}
@media only screen and (max-width: 768px) {
  .pro-descp-margin {
    margin-left: -15px;
  }
}
@media only screen and (min-width: 576px) {
  .pro-content {
    position: absolute !important;
  }
  .project-title {
    padding-bottom: 0.3rem;
  }
}
@media only screen and (max-width: 576px) {
  .margin-between-pro {
    margin-top: 3.25rem !important;
  }
  .second-pro-text {
    font-size: 1.6rem;
  }
  .project-descp {
    background: #8b49a000;
  }
  .second-pro-box {
    margin: 0 15px;
    font-size: 0.8rem;
    margin-bottom: 5px;
  }
  .pro-content {
    z-index: 3;
    position: absolute !important;
  }
  .pro-descp-margin {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.overlay {
  overflow: hidden;
  border-radius: 0.3rem;
  background: -webkit-linear-gradient(
    rgba(29, 38, 113, 0.8),
    rgba(195, 55, 100, 0.8)
  );
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8));
}
.jam-img {
  opacity: 0.4;
  border-radius: 0.3rem;
}
@media only screen and (max-width: 786px) and (min-width: 576px) {
  .padding-sec-tool {
    margin-left: -0.5rem;
  }
}
@media only screen and (max-width: 346px) {
  .project-tool-descp,
  .project-title {
    font-size: small;
  }
  .project-descp {
    font-size: x-small;
  }
}
.margin-between-pro {
  margin-top: 7rem;
}
.pro-content {
  z-index: 1;
}
